/* .slider-arrow {
    position: absolute;
    height: 100%;
    width: 100%;
} */




.slick-slide > div {
  width: 222px;

}

.slick-slide {
    width: 222px;
  
  }
  .fixed-dimensions {
    width: 200px; /* Set the desired width */
    height: 136px; /* Set the desired height */
    /* Add any other styling you want */
  }
